#div1 {
    width: 200px;
    height: 200px;
    background-color: blue;

}

#div2 {
    width: 200px;
    height: 200px;
    background-color: red;
}

#div3 {
    width: 200px;
    height: 200px;
    background-color: green;
}

#div4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

#key {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

.animated-div {
    width: 200px;
    height: 200px;
    position: relative;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.animated-div.visible {
    opacity: 1;
    transform: scale(1);
}